#navbarSupportedContent.collapse.navbar-collapse
  ul.navbar-nav.ml-auto
    li.nav-item
      a.nav-link(href='/dashboard') Dashboard 
    li.nav-item
      a.nav-link(href='/settings') Settings
    li.nav-item
      a.nav-link(href='#') Logout
